fieldset {
    border: 1px solid black;
}

.container-element {
    text-align: center;
}

.control-element {
    width: 50%;
    text-align: center;
    margin: auto;
}

#log-console {
    text-align: left;
    border: 2px solid black;
    background-color: black;
    color: white;
    width: 50%;
    height: 300px;
    margin: auto;
}
