#admin-options,
#admin-actions {
    margin-left: 80px;
    width: calc(100% - 100px);
    display: inline-block;
}

#admin-actions {
    text-align: left;
}

legend {
    margin-left: 10px;
}

​table {
    width: 99%;
    text-align: center;
    margin: 5px 5px 5px 5px;
}

th {
    background-color: grey;
}

fieldset {
    margin-top: 30px;
    display: inline-block;
    border: 2px solid orange;
    border-radius: 8px;
    text-align: center;
    width: 100%;
}

legend {
    font-size: 120%;
}
