body {
    background: url("../img/PatrickBruel.jpg") no-repeat;
}

table {
    margin: auto;
    border: 3px solid black;
    border-collapse: collapse;
    font-size: 30px;

    background-color: grey;
    width: 50%;
}

th {
    border: 2px solid black;
    color: purple;
}

td {
    border: 1px solid black;
}
