.score, #Timer, #Title {
    color: white !important;
}

#Score1 {
    color: #ffd700 !important;
    text-shadow: #000000 1px 1px, #000000 -1px 1px, #000000 -1px -1px,
        #000000 1px -1px;
}

#Score2 {
    color: #c0c0c0 !important;
    text-shadow: #000000 1px 1px, #000000 -1px 1px, #000000 -1px -1px,
        #000000 1px -1px;
}

#Score3 {
    color: #cd7f32 !important;
    text-shadow: #000000 1px 1px, #000000 -1px 1px, #000000 -1px -1px,
        #000000 1px -1px;
}

body {
    background-color: gray;
    background: stretch;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 110%;

    overflow: hidden;
}

label {
    position: absolute;
    cursor: move;
}

label:hover {
    opacity: 0.5;
}

.ui-dialog {
    z-index: 10000 !important;
}

input[type="text"] {
    width: 100%;
}

input[type="text"],
label {
    font-family: "Dalek";
}

#pointerLocation {
    border: none;
}

@font-face {
    font-family: "Dalek";
    src: url("../font/Dalek/DALEK___.ttf");
}

img {
    width: 10%;
}

#Barde {
    position: absolute;
    top: 0px;
    right: 10px;
}

#Obelix {
    width: 20%;
    position: absolute;
    left: -50px;
    bottom: -50px;
}

#Asterix {
    width: 20%;
    position: absolute;
    left: 15%;
    bottom: -80px;
}

#Menhir {
    position: absolute;
    bottom: -300px;
    width: 40%;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
}

#live-gif {
    position: absolute;
    right: 0;
}
