body{background:url(/images/PatrickBruel.jpg?1fd1a4fbd8874bb61a74ed39b801ad41) no-repeat}table{margin:auto;border:3px solid #000;border-collapse:collapse;font-size:30px;background-color:grey;width:50%}th{border:2px solid #000;color:purple}td{border:1px solid #000}